/* ##### default ##### */

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}


#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    flex-direction: column;
}

#tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color {
    border: 1px #ccc solid; 
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    margin: 22px 0;
}

#submit {
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #B483E0;
    cursor: pointer;
    margin: 10px 0;
}

#desc {
    color: #5e5e5e;
}
.details{
    position: absolute;
    bottom: 30px;
}

.details p {
    color: #5e5e5e;
}

.details a{
    text-decoration: none;
    color: #b483e0;
}